
.main
{
width:100%;
background-color:#ffffff;

}
.header
{
width:100%;
backgroundcolor:#CCCCFF;

}
.sidebar
{
background-color:#CCCCFF;     
width:20%;
float:left;
}
.content
{
background-color: #f1f1f1;
width:80%;
float:left;
}
.content p
{
text-align:justify;
padding-left:10px;
padding-right:10px;
line-height:20px;


}

.footer
{
background-color:#b5dcb3;
clear:both;
width:100%;
}